<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
</head>
<body>
    <header class="header">
        <nav class="main-nav">
            <a href="/Book/List">All books</a>
        </nav>
    </header>
    <main id="main">
        <div class="message">
            @ViewBag.Message
            <br />
            @TempData["Message"]
        </div>
        @RenderBody()
    </main>
    <footer class="footer">
        <p>
            Books borrow and return - @DateTime.Now.Year
        </p>
    </footer>
    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
</body>
</html>
